* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// 반응형을 위한 폰트 사이즈 rem 설정
html {
  font-size: 62.5%;
  // font-size: 10px;
  body {
    font-size: 1.6rem;
  }
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 보이지 않게 멀리 보내는 클래스 */
.hidden {
  position: absolute;
  top: -99999px;
  opacity: 0;
}
